body {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
}

#content {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.scoreHome{
    float:right;
    margin:15px;
}

.scoreAway {
    float: left;
    margin: 15px;
}

.matchup{
    margin:auto;
    justify-content:center;
}

.winning {
    color: #98ee99;
}

.losing {
    color: #ffa4a2;
}
img{
    float: left;
    width:100px;
    position:fixed;
    left: 30px;
    margin-top:25px;
}