
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <div id="content" class="w3-container w3-dark-grey">
        <div class="w3-card-2 w3-green w3-center">I am not in the react container</div>
        <div class="w3-card-2 w3-center" id="reactIsh"></div>
    </div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


    <script src="~/Scripts/script.jsx" type="text/babel" />

</body>
</html>
